* {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}

body {
    background-color: rgb(210, 176, 243);

}

main {
    background-color: white;
    width: 560px;
    margin: auto;
    padding: 10px;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.466);
}

img.lado {
    float: right;
}